* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

@font-face {
  font-family: 'Pokemon Solid';
  src: url("../src/fonts/PokemonSolidNormal.eot");
  src: url("../src/fonts/PokemonSolidNormal.eot?#iefix") format("embedded-opentype"), url("../src/fonts/PokemonSolidNormal.woff2") format("woff2"), url("../src/fonts/PokemonSolidNormal.woff") format("woff"), url("../src/fonts/PokemonSolidNormal.ttf") format("truetype"), url("../src/fonts/PokemonSolidNormal.svg#PokemonSolidNormal") format("svg");
  font-weight: normal;
  font-style: normal; }

.App-header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100px;
  background-color: #347FC4;
  width: 100%; }
  .App-header .App-title {
    color: #FFF;
    text-align: center;
    font-family: 'Pokemon Solid';
    font-size: 50px;
    letter-spacing: 5px;
    transform: rotate(-10deg); }
  .App-header .pokeball {
    width: 70px;
    padding: 0 20px;
    animation: loading 10s linear infinite; }

@keyframes loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  margin-top: 90px;
  padding: 40px 25px;
  box-sizing: border-box;
  background-color: #C3E8F7;
  align-items: center; }

.input__search {
  display: flex;
  margin-bottom: 40px;
  width: 100%;
  max-width: 1075px;
  justify-content: center; }
  .input__search .input__name {
    width: 100%;
    border-radius: 5px;
    font-size: inherit;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #347FC4; }
    @media all and (min-width: 560px) {
      .input__search .input__name {
        width: 100%; } }

.pokemon__list {
  list-style-type: none;
  display: grid;
  max-width: 1075px;
  grid-gap: 25px;
  margin: 0 auto 50px; }
  @media (min-width: 560px) and (max-width: 767px) {
    .pokemon__list {
      grid-template-columns: 1fr 1fr; } }
  @media all and (min-width: 768px) {
    .pokemon__list {
      grid-template-columns: 1fr 1fr 1fr; } }
  @media all and (min-width: 1125px) {
    .pokemon__list {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  .pokemon__list .pokemon__list--li {
    background-color: #fff;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px; }
    .pokemon__list .pokemon__list--li .pokemon__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      line-height: 25px;
      width: 250px;
      box-sizing: border-box; }

.pokemon__name {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 34px;
  font-family: 'Ceviche One', cursive;
  color: #941D1D;
  letter-spacing: 1px; }

.pokemon__id {
  text-align: right;
  padding-right: 20px;
  color: #E53D00;
  font-weight: bold;
  width: 100%; }

.pokemon__picture {
  width: 130px; }

.pokemon__type {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-around;
  width: 100%; }
  .pokemon__type .box {
    padding: 5px 10px;
    color: #fff;
    border-radius: 10px; }
    .pokemon__type .box.box--poison {
      background-color: #0B3954; }
    .pokemon__type .box.box--grass {
      background-color: #4AAD52; }
    .pokemon__type .box.box--electric {
      background-color: #BFF900;
      color: #000; }
    .pokemon__type .box.box--water {
      background-color: #1AFFD5;
      color: #000; }
    .pokemon__type .box.box--flying {
      background-color: #98379F; }
    .pokemon__type .box.box--normal {
      background-color: salmon;
      color: #000; }
    .pokemon__type .box.box--bug {
      background-color: #E82E81; }
    .pokemon__type .box.box--fire {
      background-color: #FA7921; }

.pokemon__evolution {
  display: flex;
  justify-content: space-around;
  width: 100%; }
  .pokemon__evolution .evolution__title {
    line-height: 26px; }
  .pokemon__evolution .evolution {
    color: #0000FF;
    font-weight: bold;
    font-family: 'Ceviche One', cursive;
    font-size: 26px;
    line-height: 26px; }

.pokemon__details__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }

.pokemon__details__card {
  box-sizing: border-box;
  background-color: #fff;
  padding: 30px;
  position: absolute;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px; }

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: inherit; }
  .link.btn {
    align-items: flex-end; }

.button--close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #941D1D;
  border-radius: 50%;
  width: 30px;
  height: 30px; }
  .button--close .btn-x {
    font-weight: bold;
    font-size: 20px;
    color: #fff; }

.pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 5px solid #fff;
  background-color: grey;
  box-shadow: 5px -2px 5px 5px rgba(0, 0, 0, 0.25); }
  .pictures .picture {
    width: 110px; }
  .pictures .picture.front_default {
    width: 150px;
    grid-column: span 3;
    border-bottom: 5px solid #fff; }
