* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
@font-face {
    font-family: 'Pokemon Solid';
    src: url('../src/fonts/PokemonSolidNormal.eot');
    src: url('../src/fonts/PokemonSolidNormal.eot?#iefix') format('embedded-opentype'),
         url('../src/fonts/PokemonSolidNormal.woff2') format('woff2'),
         url('../src/fonts/PokemonSolidNormal.woff') format('woff'),
         url('../src/fonts/PokemonSolidNormal.ttf') format('truetype'),
         url('../src/fonts/PokemonSolidNormal.svg#PokemonSolidNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
.App-header {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	height: 100px;
	background-color: #347FC4;
	width: 100%;
	.App-title {
		color: #FFF;
		text-align: center;
		font-family: 'Pokemon Solid';
		font-size: 50px;
    letter-spacing: 5px;
    transform: rotate(-10deg);
	}
	.pokeball {
		width: 70px;
		padding: 0 20px;
		animation: loading 10s linear infinite;
	}
}

@keyframes loading{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

.wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 100vh;
	margin-top: 90px;
	padding: 40px 25px;
	box-sizing: border-box;
	background-color: #C3E8F7;
	align-items: center;

}
.input__search {
	display: flex;
	margin-bottom: 40px;
	width: 100%;
	max-width: 1075px;
	justify-content: center;

		.input__name {
		width: 100%;
		border-radius: 5px;
		font-size: inherit;
		outline: none;
		padding: 10px;
		box-sizing: border-box;
		border: 2px solid #347FC4;
		@media all and (min-width: 560px) {
			width: 100%;
		}
	}
}

.pokemon__list {
	list-style-type: none;
	display: grid;
	max-width: 1075px;
	grid-gap: 25px;
	margin: 0 auto 50px;
	@media (min-width: 560px) and (max-width: 767px) {
		grid-template-columns: 1fr 1fr;
	}
	@media all and (min-width: 768px) {
		grid-template-columns: 1fr 1fr 1fr ;
	}
	@media all and (min-width: 1125px) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.pokemon__list--li {
		background-color: #fff;
		box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.25);
		border-radius: 5px;
		.pokemon__card {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 20px;
			line-height: 25px;
			width: 250px;
			box-sizing: border-box;
		}
	}
}
.pokemon__name {
	margin-bottom: 25px;
	font-weight: bold;
	font-size: 34px;
	font-family: 'Ceviche One', cursive;
	color: #941D1D;
	letter-spacing:1px;
}
.pokemon__id {
	text-align: right;
	padding-right: 20px;
	color: #E53D00;
	font-size: 20px;
	font-weight: bold;
	width: 100%;
}
.pokemon__picture {
	width: 130px;
	&:hover {
		transform: scale(1.3);
		transition: transform ease 1.5s;
	}
}
.pokemon__type {
	display: flex;
	margin-bottom: 15px;
	justify-content: space-around;
	width: 100%;
	.box {
		padding: 5px 10px;
		color:#fff;
		border-radius: 10px;
		&.box--poison {
			background-color: #0B3954;
		}
		&.box--grass {
			background-color: #4AAD52;
		}
		&.box--electric {
			background-color: #BFF900;
			color:#000;
		}
		&.box--water {
			background-color: #1AFFD5;
			color:#000;
		}
		&.box--flying {
			background-color: #98379F;
		}
		&.box--normal {
			background-color: salmon;
			color:#000;
		}
		&.box--bug {
			background-color: #E82E81;
		}
		&.box--fire {
			background-color: #FA7921;
		}
	}
}
.pokemon__evolution {
	display: flex;
	justify-content: space-around;
	width: 100%;

	.evolution__title {
		line-height: 26px;
	}
	.evolution {
		color: #0000FF;
		font-weight: bold;
		font-family: 'Ceviche One', cursive;
		font-size: 26px;
		line-height: 26px;
	}
}

.pokemon__details__background {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999;
}
.pokemon__details__card {
	box-sizing: border-box;
	background-color: #fff;
	padding: 30px;
	position: absolute;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 600px;

}
.picture {
	display: flex;
	align-self: center;
	justify-content: center;
}
.link {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-decoration: none;
	color: inherit;
	&.btn {
		align-items: flex-end;
	}
}
.button--close {
	position: absolute;
	display: block;
	background-color: #941D1D;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	.btn-x {
		position: absolute;
		width: 100%;
		text-align: center;
		line-height: 30px;
		font-size: 20px;
		color: #fff;
	}
}

.info {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 20px;

	.cover{
		position: relative;
		text-align: center;
		.details__id{
			position: absolute;
			font-size: 20px;
			right: 0px;
			color: #E53D00;
			font-weight: bold;

		}
	}
	.front_default {
		width: 140px;
	}

	.front_shiny,
	.back_shiny {

		grid-column: 2/3;
	}
	.info__details {
		grid-row: 2/4;
		.pokemon__name{
			text-align: center;
		}
		.pokemon__type{
			justify-content: center;
			margin-bottom: 50px;
			span{
				margin:10px;
			}
		}
	}
	.info__card {
		background-color: #D4D695;
		font-size: 18px;
		padding: 5px;
		border-radius: 5px;
	}

	.pokemon__abilities,
	.pokemon__weight,
	.pokemon__height{
	 margin: 0 10px;
	 color:#41422E;
	 padding:10px 20px;
	 border: 0;
	 font-weight: bold;
	 span{
		 padding: 0 2px;
		 font-weight: normal;

	 }
	 .weight__detail,
	 .ability,
	 .height__detail {
		font-weight: bold;
	 }
	}
}
